*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('assetgambar/gambarlogin.avif');
  background-size: cover; background-repeat: no-repeat; background-position: center;
  display: flex;
  justify-content: center;     
  align-items: center;   
  height: 100vh;
}

.username {
  display: flex;
  justify-content: center;     
  flex-direction: column;    
   
}

.password{
  display: flex;
  justify-content: center;     
  flex-direction: column;    
}

.loginscreen {
  display: flex;
  justify-content: center;  
  align-items: center; 
  flex-direction: column;    
  background-color: rgba(160,160,160,0.4);
  width: 500px;
  height: 500px;
  color: white;
  padding: 10px;
  border-radius: 25px
}

.loginscreen > div{
  margin: 30px 0px;  
}

.logomasuk {
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;
}

.masalahlogin {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.masalahlogin > div {

}

.loginbuttonbox{
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;
}