*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('assetgambar/gambarlogin.avif');
  background-size: cover; background-repeat: no-repeat; background-position: center;
  display: flex;
  justify-content: center;     
  align-items: center;   
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.username {
  display: flex;
  justify-content: center;     
  flex-direction: column;    
   
}

.password{
  display: flex;
  justify-content: center;     
  flex-direction: column;    
}

.logomasuk{
  display: flex;
  justify-content: center;     
}

.loginscreen {
  display: flex;
  justify-content: center;  
  align-items: center; 
  flex-direction: column;    
  background-color: rgba(50,50,50,0.4);
  width: 480px;
  height: 675px;
  color: white;
  padding: 3px;
  border-radius: 25px
}

.loginscreen > div{
  margin: 15px 0px;  
}

.logomasuk {
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;
}

.welcomemessage {
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;
}

label{
  margin-bottom: 10px
}

input{
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  border-width: thin;
  width: 425px;
  height: 45px;
  padding: 10px;
  background-color: rgba(50,50,50,0.6);
  border-style: solid;
  border-color: gray;
  color: white;
}

.loginscreen > .masalahlogin{
  margin-top: -10px
}

.masalahlogin {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.loginbuttonbox{
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;
  gap: 10px;
}

button{
  font-size: 1rem;
  outline: none;
  border-radius: 20px;
  width: 425px;
  height: 35px;
  border-width: thin;
  border-color: rgb(96,96,96);
  color: white;
}

.loginconfirm{
  background-color: rgba(70,70,70);
  border-style: solid;
}

.loginconfirmgoogle{
  display: flex;
  background-color: rgba(50,50,50,0.6);
  border-style: solid;
  justify-content: center;  
  align-items: center;
}

@media only screen and (max-width: 480px) and (min-width:320px)
{
  .loginscreen {
    width: 300px;
    height: 300px;
  }
}