*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  body {
    display: flex;
    justify-content: center;     
    background-color: rgb(18, 18, 18); 
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar > ul{
    display: flex;
    margin: 10px;
  }

  
  ul > li{
  list-style: none;
}
  
  .navbar > ul > li{
    margin: 10px;
  }
  
  .container {
    display: flex;         
    justify-content: center;        
    margin: 10px;
    flex-direction: row;
    font-size: 20px;
  }
  
  .box{
    width: 100vw;
    height: 40vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: linear-gradient(180deg, rgba(18,18,18,0), rgba(18,18,18,1)), url('assetgambar/assetgambarberanda/dutyafterschoolherobanner.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }   
  
  .isibox{
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .avatar{
    border-radius: 100px;

  }

  .boxtombol {
    display: flex;
    width: 100%;
    justify-content: space-between;

  }

 .boxtombol > .kiri{
    margin-left: 30px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
  }

  .boxtombol > .kiri > button{
    display: flex;
    align-items: center;
    width: 150px;
    height: 35px;
    background: red;
    border: none; 
  }


  .boxtombol > .kanan {
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .boxtombol > .kanan > button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: transparent;
    border: none; 
  }
  
  .lanjutfilm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 10px;
    margin: 10px;
  }

  .kotakfilm {
    display: flex;
    flex-direction: column;
    margin: 25px;
    font-size: 30px;
    
  }

  .kotakfilm > p{
    margin-left: 35px;
  }

  .tombolkiri {
    position: relative;
    left: 30px;
    background: transparent;
    border: 0



  }
  
  .tombolkanan {
    position: relative;
    right: 30px;
    background: transparent;
    border: 0

  }
  

  .lanjutfilm1, .lanjutfilm2, .lanjutfilm3, .lanjutfilm4 {
    padding: 10px;
    text-align: center;
    width: 320px;
    height: 150px;
    border-radius: 10px;

}

  .lanjutfilm1{
    background-image: url('assetgambar/assetgambarberanda/dontlookuplanjut.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .lanjutfilm2{
    background-image: url('assetgambar/assetgambarberanda/allofusaredeadlanjut.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .lanjutfilm3{
    background-image: url('assetgambar/assetgambarberanda/bluelocklanjut.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .lanjutfilm4{
    background-image: url('assetgambar/assetgambarberanda/amancalledottolanjut.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .film1, .film2, .film3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
  }

  .boxfilm11, .boxfilm12, .boxfilm13, .boxfilm14, .boxfilm15, 
  .boxfilm21, .boxfilm22, .boxfilm23, .boxfilm24, .boxfilm25,
  .boxfilm31, .boxfilm32, .boxfilm33, .boxfilm34, .boxfilm35 {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    height: 350px;
}

  .boxfilm11{
    background-image: url('assetgambar/assetgambarberanda/filmnya/suzume.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .boxfilm12{
    background-image: url('assetgambar/assetgambarberanda/filmnya/jurassicworlddominion.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .boxfilm13{
    background-image: url('assetgambar/assetgambarberanda/filmnya/sonic2.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .boxfilm14, .boxfilm34{
    background-image: url('assetgambar/assetgambarberanda/filmnya/allofusaredead.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .boxfilm15, .boxfilm33{
    background-image: url('assetgambar/assetgambarberanda/filmnya/bighero6.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .boxfilm21{
    background-image: url('assetgambar/assetgambarberanda/filmnya/thetomorrowwar.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .boxfilm22{
    background-image: url('assetgambar/assetgambarberanda/filmnya/quantumania.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .boxfilm23{
    background-image: url('assetgambar/assetgambarberanda/filmnya/guardianofthegalaxyvol3.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .boxfilm24{
    background-image: url('assetgambar/assetgambarberanda/filmnya/amancalledotto.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .boxfilm25, .boxfilm31{
    background-image: url('assetgambar/assetgambarberanda/filmnya/thelittlemermaid.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .boxfilm32{
    background-image: url('assetgambar/assetgambarberanda/filmnya/dutyafterschool.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }

  .boxfilm35{
    background-image: url('assetgambar/assetgambarberanda/filmnya/missing.png');
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }


.bagianfooter{
  display: flex;
  justify-content: space-between;
  width: 67%;
}

.genre{
  display: flex;
  flex-wrap: wrap;
}

.genreheader {
  flex-basis: 100%; 
}

@media only screen and (max-width: 600px) {
  body{
    overflow-x: hidden;
  }

  .isibox > p{
    font-size: 14px;
  }

  .kotakfilm p {
    margin-left: 775px; 
  }

  .kotakfilm {
    padding: 20px; 
  }

  .lanjutfilm{
    margin-left: 780px; 
  }

  .film1, .film2, .film3{
    margin-left: 280px; 
  }

  .boxfilm11, .boxfilm12, .boxfilm13, .boxfilm14, .boxfilm15, 
  .boxfilm21, .boxfilm22, .boxfilm23, .boxfilm24, .boxfilm25,
  .boxfilm31, .boxfilm32, .boxfilm33, .boxfilm34, .boxfilm35 {
      width: 150px;
      height: 300px;
  }

  .lanjutfilm1, .lanjutfilm2, .lanjutfilm3, .lanjutfilm4 {
      width: 315px;
      height: 150px;
  }

  .bagianfooter {
      flex-direction: column;
  }

  .bagiancopyright{
    margin-bottom: 25px;
  }

  .tombolkiri, .tombolkanan{
    display: none;
  }
}
