*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('assetgambar/gambarlogin.avif');
  background-size: cover; background-repeat: no-repeat; background-position: center;
  display: flex;
  justify-content: center;     
  align-items: center;   
  height: 100vh;
}

.username {
  display: flex;
  justify-content: center;     
  flex-direction: column;    
   
}

.password{
  display: flex;
  justify-content: center;     
  flex-direction: column;    
}

.loginscreen {
  display: flex;
  justify-content: center;  
  align-items: center; 
  flex-direction: column;    
  background-color: rgba(160,160,160,0.4);
  width: 500px;
  height: 500px;
  color: white;
  padding: 5px;
  border-radius: 25px
}

.loginscreen > div{
  margin: 15px 0px;  
}

.logomasuk {
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;
}

.welcomemessage {
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;
}

input{
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 450px;
  height: 35px;
  padding: 10px
}

.loginscreen > .masalahlogin{
  margin-top: -10px
}

.masalahlogin {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.loginbuttonbox{
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;
  gap: 10px;
}

button{
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 450px;
  height: 35px;
}

.loginconfirmgoogle{
  display: flex;
  justify-content: center;  
  align-items: center;
}

@media only screen and (max-width: 480px) and (min-width:320px)
{
  .loginscreen {
    width: 300px;
    height: 300px;
  }
}